{{#if skill}}
<div class="flexrow">
  <span class="roll-dialog-label">{{localize skill.name}} : </span>
  <span class="roll-dialog-label">{{skill.system.level}}</span>
</div>
{{/if}}

<div class="flexrow">
  <span class="roll-dialog-label">Bonus/Malus : </span>
  <select id="roll-bonus-malus" name="bonusMalus">
    {{#select bonusMalus}}
    <option value="-5">-5</option>
    <option value="0">0</option>
    <option value="5">+5</option>
    {{/select}}
  </select>
</div>